/* Header */
.header {
  background-color: var(--dark-back);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding:1.5rem;
  border-radius: 4rem;
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(2rems);
  height: 60px;
}

.logos {
    height:3rem;
    width:auto;


}

.header button {
    color: var(--light-back);
    background-color: inherit;
    font-size: 1.9rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 0.9rem;
    padding-right:0.9rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: ease-in 0.3s;
    height: 45px;
}

.header button:hover {
    color: var(--dark-back);
    background-color: var(--light-back);
    
}

.header button:active {
    transform: scale(0.94);
    transition: ease-in-out 0.07s;

}

#Logo {
    padding-left: 2rem;
    height: 4rem;
    width: auto;
}

.connectButton {
    padding-right: 4rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}


/* Content Area */
.contentArea {
    background-color: white;
    display: flex;
    height: 82vh ;
    margin:0.7rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 2rem;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
}